* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.form-section {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.contact-section {
    width: 35%;
    text-align: center;
    margin-right: 70px;
}

.contact-section img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 2px 0 2px;
}

input,
select,
textarea {
    padding: 1px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
}

/*
button:hover {
    background-color: #0056b3;
}*/

.contact-section h3 {
    color: #007bff;
    margin: 1rem 0 0.5rem;
}

.contact-section p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 992px) {
    .form-container {
        flex-direction: column;
    }

    .contact-section,
    .form-section {
        width: 90%;
        margin-right: 0;
        margin-left: 0;
    }

    .contact-section img {
        width: auto;
        height: 200px;
    }

}

@media (max-width: 576px) {
    header {
        padding: 1rem;

        /* Ajustar el padding del header en pantallas pequeñas */
        .contact-section,
        .form-section {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            margin-top: 40px;

        }
    }
}

.btn-small {
    padding: 2px;
    max-width: 90px;
}