/* Cambiar el color de los enlaces de navegación */
.navbar-nav .nav-link {
    color: #21c916;
    font-size: 20px;


    /* Cambia este valor por el color que prefieras */
}

/* Cambiar el color al pasar el cursor */
.navbar-nav .nav-link:hover {
    color: #3b07a4;
    /* Cambia este valor por el color que prefieras para el hover */
}

/* Asegura que las imágenes del carrusel tengan el mismo tamaño */
.carousel-inner img {
    width: 100%;
    /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 500px;
    /* Puedes ajustar esta altura según lo necesites */
    object-fit: cover;
    /* Mantiene la proporción de la imagen y la recorta si es necesario */
}

/* Alternativa: puedes ajustar la altura según el contenido */
.carousel-inner img {
    width: 100%;
    max-height: 500px;
    /* Limita la altura máxima */
    object-fit: cover;
    /* Mantiene la proporción de la imagen y la recorta si es necesario */
}

.card-title {
    color: black;
}

.texto {
    color: black;
}